@layer base {
  .icon {
    fill: #aeaeb2;
  }

  .input:focus ~ .clear-icon,
  .input:not(:placeholder-shown) ~ .clear-icon {
    @apply cursor-pointer opacity-100;
    pointer-events: auto;
  }

  .dropdown-anime {
    transition: all 0.12s ease-in-out;
  }
  .primary-hover:hover {
    background-color: #e5e5ea;
  }

  .header-select {
    transition: background-color 0.16s ease-in-out;
    transform: translateY(0);
  }
  .header-select-bottom {
    border-bottom: 1px solid #ebeae8;
  }

  .header-grid {
    @apply grid gap-4;
    grid-template-areas: 'label padding check-mark';
    grid-template-columns: minmax(80px, 1fr) 16px 20px;
  }

  .grid-area-label {
    grid-area: label;
  }
  .grid-area-check-mark {
    grid-area: check-mark;
  }
  .grid-area-check-mark.active {
    display: block;
  }

  .overlay {
    opacity: 0;
    transition: opacity 0.16s linear;
    will-change: opacity;
  }

  .overlay.active {
    opacity: 1;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
}

.btn-primary {
  background-color: #ffec00;
  transition: background 0.16s ease-in-out, color 0.16s ease-in-out;
}

.btn-primary:hover {
  background-color: #eed600;
}
