* {
  box-sizing: border-box;
}

@layer base {
  .icon {
    fill: #aeaeb2;
  }

  .input:focus ~ .clear-icon,
  .input:not(:placeholder-shown) ~ .clear-icon {
    @apply cursor-pointer opacity-100;
    pointer-events: auto;
  }

  .transformY-50 {
    transform: translateY(-50%);
  }

  .dropdown-anime {
    transition: all 0.12s ease-in-out;
  }
  .primary-hover:hover {
    background-color: #e5e5ea;
  }

  .header-select {
    transition: background-color 0.16s ease-in-out;
    transform: translateY(0);
  }
  .header-select-bottom {
    border-bottom: 1px solid #ebeae8;
  }

  .header-grid {
    @apply grid gap-4;
    grid-template-areas: 'label padding check-mark';
    grid-template-columns: minmax(80px, 1fr) 16px 20px;
  }

  .grid-area-label {
    grid-area: label;
  }
  .grid-area-check-mark {
    grid-area: check-mark;
  }
  .grid-area-check-mark.active {
    display: block;
  }

  .overlay {
    opacity: 0;
    transition: opacity 0.16s linear;
    will-change: opacity;
  }

  .overlay.active {
    opacity: 1;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .carousel-scroll {
    flex: 0 0 auto;
    width: var(--slide-width);
    scroll-snap-align: end;
    scroll-snap-stop: always;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-scroll-snap {
    scroll-snap-type: x mandatory;
  }

  .carousel-scroll:not(:first-child) {
    margin-left: var(--slide-space);
  }

  main {
    padding: 40px 0px 120px 0px;
  }
}

.carousel-scroll-item {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  cursor: pointer;
}

.transform-y--50 {
  transform: translateY(-50%);
}

.carousel-scroll.active {
  transform: translateX(calc(-25% * var(--index)));
}

.btn-primary {
  background-color: #ffec00;
  transition: background 0.16s ease-in-out, color 0.16s ease-in-out;
}

.ease-in-bg1 {
  transition: background-color 0.1s ease-in-out;
}

.ease-in-bg16 {
  transition: background-color 0.16s ease-in-out;
}

.ease-in-opacity {
  transition: opacity 0.16s ease-in-out, transform 0.1s ease-in;
}

.select-border-b {
  border-bottom: 0.5px solid #f6f6fb;
}

.btn-primary:hover {
  background-color: #eed600;
}

.ease-in-out-016 {
  transition: background 0.16s ease-in-out, color 0.16s ease-in-out;
}

.webkit-box {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.main-card-item {
  width: calc(100% / 12 * 4.12 - var(--vertical-gap));
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: var(--card-radius);
}

.main-card-favorite-shadow {
  box-shadow: 0 -1px 12px rgba(0, 0, 0, 0.08);
}

.main-card-brand-shadow {
  box-shadow: 0 0 25px rgba(14, 14, 14, 0.1);
}

/* PORTAL */

.portal-overlay-container {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portal-overlay-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.16s linear;
  will-change: opacity;
}

.portal-overlay-bg.active {
  opacity: 1;
}

.portal-overlay-content {
  width: 440px;
  max-height: 90vh;
  position: relative;
  border-radius: 24px;
  background-color: #fff;
  opacity: 0;
  transform: scale(1.1);
  overflow: hidden;
  transition: opacity 0.16s cubic-bezier(0.36, 0.66, 0.04, 1), transform 0.16s cubic-bezier(0.36, 0.66, 0.04, 1);
}

.portal-overlay-content.active {
  opacity: 1;
  transform: scale(1);
}

.p-16-16-0 {
  padding: 16px 16px 0;
}
.p-22-40-6-12 {
  padding: 22px 40px 6px 12px;
}
.m-48-0-16 {
  margin: 48px 0px 16px;
}

.o-16-ease-in-out {
  transition: all 0.16s ease-in-out;
}

.input-animation-label {
  transition: opacity 0.16s ease-in-out;
}

.input:focus ~ .input-label,
.input:not(:placeholder-shown) ~ .input-label {
  top: 6px;
  font-size: 12px;
  line-height: 16px;
}
